@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  .banner p {
    font-size: 1rem;
  }
  header {
    width: 100%;
    margin-bottom: 20px;
  }
  .date h4 span {
    font-size: 1.3rem;
    font-style: italic;
  }
  /* grid template */
  main {
    margin: 10px;
    display: grid;
    grid-template-areas:
      'event hero spotlight'
      'weather hero spotlight'
      'join news spotlight';
    gap: 5px;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-rows: 1fr 4fr 1fr; */
    /* margin-bottom: 700px; */
  }

  .events {
    grid-area: event;
  }
  .hero {
    grid-area: hero;
  }
  .spotlights {
    grid-area: spotlight;
  }
  .weather {
    grid-area: weather;
  }
  .news {
    grid-area: news;
  }
  .join {
    grid-area: join;
  }

  /* navbar */
  .navbar {
    width: 90%;
    margin: auto;
    align-items: center;
  }
  .logo {
    width: 25%;
  }
  .burger-menu {
    display: none;
  }
  .menu {
    display: block;
    left: 0;
    background-color: rgb(255, 249, 249);
    margin-left: 150px;
    position: unset;
  }

  .menu ul {
    display: flex;
    align-items: center;
  }
  .menu ul li {
    margin-left: 30px;
    list-style: none;
    /* transition: all ease-in-out 0.3s; */
  }

  .menu ul li a {
    text-decoration: none;
    color: black;
  }
  .social-media {
    margin-left: 120px;
    display: flex;
    gap: 10px;
  }
  .menu li:hover {
    border-bottom: 2px solid black;
  }

  .hero-title {
    display: block;
  }
  /* latest news */
  .news-img {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .img2 {
    display: block;
  }
  /* discover page */
  .page-title h2 {
    font-size: 2.7rem;
  }
  .city-cards {
    max-width: 1600px;
    margin: auto;
  }
  .city-card {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }
  .right {
    flex-direction: row-reverse;
  }
  .top-card {
    width: 60%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .bot-card img {
    width: 100%;
    height: auto;
    transition: all 0.4s ease-in-out;
  }
  .bot-card img:hover {
    box-shadow: 5px 5px 10px #888888;
    transform: scale(1.03);
  }

  /* Directory */
  .directory-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
  }
  .directory-title h2 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  /* Join */
  .left-contact {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}
