@media(min-width: 1025px){
    body{
         height: 100vh;
         display: grid;
         grid-template-rows: 2fr 5fr 2fr;
        
    }
    
    header{
        width: 100%;
        margin-bottom: 20px;
      
    }
    /* grid template */
    main{
        width: 98%;
        height: 100vh;
        margin: auto;
        display: grid;
        grid-template-areas:
        'event hero spotlight'
        'event hero spotlight'
        'weather news news'
       
        ;
        gap: 5px;
       grid-template-columns: 1fr 3fr 1fr;
       grid-template-rows: 1fr 4fr 1fr;
margin-bottom: 700px;
   
     
    }
   
   .events{
    grid-area: event;
    
   
   }
   .hero {
    grid-area: hero;
   
   }
   .spotlights{
    grid-area: spotlight;
   }
   .weather{
    grid-area: weather;
   }
   .news{
    grid-area: news;
   }

    /* navbar */
    .navbar{
        width: 90%;
        margin: auto;
        align-items: center;
    }
    .logo{
        width: 25%;
    }
    .burger-menu{
        display: none;
    }
    .menu{
        display: block;
    }
   
    .menu ul{
        display: flex;
        align-items: center;
       
    } 
    .menu ul li{
       margin-left:30px;
       list-style: none;
       /* transition: all ease-in-out 0.3s; */
    }
    
    
    .menu ul li a{
        text-decoration: none;
        color: black;
    }
    .social-media{
        margin-left: 120px;
    }
.menu li:hover{
    border-bottom: 2px solid black;
}

/* news */
.news{
    height: 80%;
}
}